body {
    background-image: url("upscaled stemning.jpeg");
    max-width: 100%;
    overflow-x: hidden;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    margin: 0px;
}

#top {
    background-color: #E0FBFC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
}

#top h1 {
    font-family: sans-serif;
    font-weight: 600;
    color: #293241;
}

.content {
    margin: 0px;
    width: 100%;
    padding: 20px 200px 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(224, 251, 252, 0.7); 
    border-radius: 10px;
    width: 75%;
    height: 500px;
    margin: 10px 0px 10px 0px;
    border: #EE6C4D 4px solid;
}

.section h2 {
    font-family: sans-serif;
    font-weight: 600;
    color: #293241; 
}

@keyframes grow {
    from {height: 20px; line-height: 20px;}
    to {height: 50px; line-height: 50px;}
}

.navigator {
    height: 20px;
    background-color: #98C1D9;
    border-radius: 5px;
    width: 100%;
}

.navigator a {
    background-color: #3D5A80;
    float: left;
    color: #E0FBFC;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 20px;
    min-width: 50px;;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 1px;
}

.navigator:hover a{
    animation-name: grow;
    animation-duration: 0.3s;
    height: 50px;
    line-height: 50px;
}

.navigator:hover {
    animation-name: grow;
    animation-duration: 0.3s;
    height: 50px;
}

.navigator a:hover {
    background-color: #EE6C4D;
}

.left {
    border-radius: 0px 0px 0px 4px;
}

.footer {
    min-height: 150px;
    background-color: #3D5A80;
    border-radius: 5px;
    width: 100%;
}