html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.top-bar {
    height: 100px;
    width: auto;
    background-color: #FFD6BA;
    position: relative;
    align-items: center;
    box-shadow: 0px 5px 5px #808080;
    z-index: 6;
}

.circle {
    background-color: red;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-left: 10px;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.side-nav {
    height: 100%;
    max-width: 110px;
    width: 110px;
    background-color: #FFB685;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
}

.side-nev, a {
    background-color: red;
    padding 20px;
    margin: 15px;
    font-family: roboto-slab;
    font-size: 30px;
}


.content {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.bottom-bar {
	height: 25%;
	width: 100%;
	background-color: #34344a;

}

